@import 'reset';

@import 'variables';

@import 'fuentes';

@import './layout/footer', './layout/header';

@import './componentes/componentes';

@import './paginas/home', './paginas/identidad', './paginas/promos', './paginas/contacto', './paginas/cuenta', './paginas/pagos', './paginas/productos', './paginas/sesion';



  @media (max-width: 320px) {
    .container-sm,
    .container container fluid {
      max-width: 298px;
      height: 100px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .carousel-inner {
      height: 200px;
      padding: 0;
    }
    .carousel-inner img {
      height: 200px;
      padding: 0;
    }
    .box-formulario {
      margin: 10px;
    }
  
    .box-identidad{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  
    textarea {
      width: 200px;
      height: 100px;
    }
    #imgProducto {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 425px) {
    .container-sm,
    .container container fluid {
      max-width: 298px;
      height: 100px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .carousel-inner {
      height: 200px;
      padding: 0;
    }
    .carousel-inner img {
      height: 200px;
      padding: 0;
    }
    .box-identidad{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      font-size: 15px;
    }
    textarea {
      width: 100px;
    }
    footer div .col-3 {
      width: 100%;
    }
    footer div h4 {
      display: none;
    }
    footer div img {
      display: none;
    }
    #imgProducto {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 596px) {
    .container-sm,
    .container container fluid {
      max-width: 298px;
      height: 100px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .carousel-inner {
      height: 200px;
      padding: 0;
    }
    .carousel-inner img {
      height: 200px;
      padding: 0;
    }
    .box-identidad{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      font-size: 15px;
    }
  
    footer div .col-3 {
      width: 100%;
    }
    footer div h4 {
      display: none;
    }
    footer div img {
      display: none;
    }
    #imgProducto {
      width: 70px;
      height: 100px;
    }
  }
  
  @media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
      max-width: 720px;
    }
    .carousel-inner {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .section-catalogo {
      width: 100%;
    }
    .box-identidad{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      font-size: 15px;
    }
  
  }


  @media (max-width: 768px) {
    header li a {
      display: none;
    }
    h1 {
      display: none;
    }
    footer {
      background-color: rgba(252, 195, 209, 0.541);
    }
    .box-imagenes {
      width: 90%;
    }
    .box-imagenes img {
      width: 500px;
    }
    .pie-box {
      flex-direction: column;
      width: 100%;
      height: 350px;
      align-items: center;
    }
    .lista-navegacion {
      list-style: none;
      text-decoration: none;
    }
    .seccionCatalogo {
      display: block;
      height: 320vh;
      width: 500px;
      margin: 0;
    }
    .seccionCatalogo article {
      width: 100%;
      margin-left: 0;
    }
    .formatoProducto1 {
      margin-top: 1rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    .formatoProducto2 {
      margin-top: 20rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    .formatoProducto3 {
      margin-top: 40rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    .formatoProducto4 {
      margin-top: 60rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    .formatoProducto5 {
      margin-top: 80rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    .formatoProducto6 {
      margin-top: 100rem;
      margin-bottom: 15rem;
      border-width: 30px;
      padding-bottom: 20px;
    }
    #grilla {
      display: grid;
      height: 110vh;
      grid-template-areas: "box-envios"
   "box-pagos"
   "box-seguridad";
      grid-template-rows: 200px 200px 200px;
      grid-template-columns: 600px;
      grid-column-gap: 10px;
      align-content: center;
      justify-content: space-around;
    }
    #grilla .box-envios {
      justify-content: center;
      align-content: center;
    }
  }
  