
  /* Página Medios de Pago -- Metodología BEM - Nesting*/
  .pagos {
    display: block;
    margin: 20px 20px;
  }
  
  .pagos__titulo {
    margin-bottom: 30px;
  }
  
  .pagos__titulo__info {
    margin: 20px 0;
  }
  
